<h1>New Entry</h1>

<form action="/entries" method="post">

  <input type="hidden" name="place_id" value="<%= @place_id %>">

  <p>
    <label>Title</label>
    <input type="text" name="title">
  </p>

  <p>
    <label>Date</label>
    <input type="date" name="occurred_on">
  </p>

  <p>
    <label>Description</label>
    <textarea name="description"></textarea>
  </p>

  <button>Save Entry</button>

</form>